body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/652/confectionary.png);
    font-size: 1rem; 
}
.header {
    color: #333; 
    background-color: rgba(227, 222, 222, 0.808);
    margin-top: 0; 
    padding: 0.5rem;
    display: flex;
    align-items: center; /* Center items horizontally */
}
.search{
    border: radius 15px;
    width: 500px;
    padding: 5px 5px;
    border: 1px solid hwb(0 96% 3%);
    font-size: 12px;      
    margin-right: 5px;
    border-radius: 15px;
}
.search-input {
    padding: 8px 15px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 15px;
    margin-right: 10px;
    width: 300px;
}

.search-button {
    padding: 8px 15px;
    font-size: 1rem;
    border: none;
    background-color: #564caf;
    color: white;
    border-radius: 25px;
    cursor: pointer;
}

.search-button:hover {
    background-color: #45a049;
}
th, td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    font-variant-numeric: tabular-nums;
    white-space: nowrap;
}

th {
    background-color: #059600;
    color: white;
    font-size: 16px;
}

tr:nth-child(even) {
    background-color: #f8f8f8;
}

tr:hover {
    background-color: #f1f1f1;
}

td {
    font-size: 14px;
    color: #333;
}

.align-middle {
    vertical-align: middle;
}

.text-center {
    text-align: center;
}
.table th, .table td {
    padding: 12px;
    text-align: center;
    border: 1px solid #ddd;
}
.table tbody tr:hover {
    background-color: #89eee9;
}
 .pagination {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination a {
    margin: 0 10px;
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.pagination a:hover {
    background-color: #0056b3;
}

.pagination span {
    font-size: 1rem;
    margin: 0 10px;
} 
.employee-trainings-container {
    display: flex;
    flex-direction: column;
    margin: 5px;
    width: 90%;
}

.employee-summary {
    text-align: center;
    margin-bottom: 15px;
}