{% extends 'weightscore/Layout.html' %}
{% load range_filter %}

{% block body %}
<a href="{% url 'employee_performance' %}" class="btn btn-primary">Home</a>
<form method="get" action="{% url 'employee_performance' %}" class="mb-3">
    <label for="exam_count">Filter by Number of Exams:</label>
    <select name="exam_count" id="exam_count" class="form-control" onchange="this.form.submit()">
        <option value="">Select Number of Exams</option>
        {% for i in 16|to %}
            <option value="{{ i }}" {% if filter_exam_count == i|stringformat:"s" %}selected{% endif %}>
                {{ i }} {{ i|pluralize:"Exam,Exams" }}
            </option>
        {% endfor %}
    </select>
</form>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Staff Number</th>
            <th>Total Weighted Score</th>
            <th>Exam</th>
            <th>Score</th>
            <th>Weighted Score</th>
            <th>Exam Date</th>
        </tr>
    </thead>
    <tbody>
        {% for performance in page_obj %}
            <tr>
                <td rowspan="{{ performance.exam_scores.count|default:1}}" class="align-middle">{{ performance.employee.name }}</td>
                <td rowspan="{{ performance.exam_scores.count|default:1 }}" class="align-middle">{{ performance.employee.staff_number }}</td>
                <td rowspan="{{performance.exam_scores.count|default:1}}" class="align-middle text-center">{{ performance.total_weighted_score|floatformat:2 }}</td>
                {% for exam_score in performance.exam_scores %}
                    <td>{{ exam_score.exam.exam_name }}</td>
                    <td>{{ exam_score.score|floatformat:2 }}%</td> 
                    <td>{{ exam_score.weighted_score|floatformat:2 }}</td> 
                    <td>{{ exam_score.exam_date }}</td>
                </tr>
                {% endfor %}
        {% empty %}
            <tr>
                <td colspan="7">No performance data found.</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% if page_obj.has_next %}
    <div><button>
    <a href="?page={{ page_obj.next_page_number }}">next</a>
    {% endif %}
    {% if page_obj.has_previous %}
    <a href="?page={{ page_obj.previous_page_number }}">previous</a>
    {% endif %}
</div>

{% endblock %}