{% extends 'weightscore/Layout.html' %}
{% block body %}
<h1>hello world</h1>
<a href="{% url 'upload_exam_files' %}">
<button type="submit" class="btn btn-primary">addfiles</button>
</a>
<form method="post" enctype="multipart/form-data" class="mt-3">
    {% csrf_token %}
<div class="form-group">
    <label for="exam_parameters_file">Exam Parameters File:</label>
    <input type="file" name="exam_parameters_file" required>
</div>
<button type="submit" class="btn btn-primary">Upload</button>
</form>
{% endblock %}