{% extends 'weightscore/Layout.html' %}
{% load range_filter %}
{% block body %}
<h1>Employee Performance</h1>
<form method="get" action="{% url 'search' %}" class="search">
    <input type="text" name="q" class="form-control me-2" placeholder="Search by Staff Number, Name, or Team" value="{{ query }}">
    <button type="submit" class="btn btn-primary">Search</button>
</form>
<div>
    <a href="{% url 'index' %}" class="btn btn-primary">Home</a>
<a href="{% url 'view_completed_trainings' %}">see completed trainings</a>
</div>
<form method="get" action="{% url 'employee_performance' %}" class="mb-3">
    <label for="exam_count">Filter by Number of Exams:</label>
    <select name="exam_count" id="exam_count" class="form-control">
        <option value="">Select Number of Exams</option>
        {% for i in 16|to %}
            <option value="{{ i }}" {% if filter_exam_count == i|stringformat:"s" %}selected{% endif %}>
                {{ i }} {{ i|pluralize:"Exam,Exams" }}
            </option>
        {% endfor %}
    </select>

    <label for="month">Filter by Month:</label>
    <select name="month" id="month" class="form-control">
        <option value="">Select Month</option>
        {% for month in months %}
            <option value="{{ forloop.counter }}" {% if filter_month|default:'' == forloop.counter|stringformat:"s" %}selected{% endif %}>
                {{ month }}
            </option>
        {% endfor %}
    </select>

    <label for="year">Filter by Year:</label>
    <select name="year" id="year" class="form-control">
        <option value="">Select Year</option>
        {% for year in years %}
            <option value="{{ year }}" {% if filter_year|default:'' == year|stringformat:"s" %}selected{% endif %}>
                {{ year }}
            </option>
        {% endfor %}
    </select>

    <!-- Add a submit button -->
    <button type="submit" class="btn btn-primary mt-3">Apply Filters</button>
</form>


<table class="table table-striped">
    <thead>
        <tr>
            <th>Serial No.</th> 
            <th>Name</th>
            <th>Staff Number</th>
            <th>Total Weighted Score</th>
            <th>Average Score</th>
            <th>Exam</th>
            <th>Score</th>
            <th>Weighted Score</th>
            <th>Exam Date</th>
        </tr>
    </thead>
    <tbody>
        {% for performance in page_obj %}
            <tr>
                <td rowspan="{{ performance.exam_scores.count|default:1}}" class="align-middle">{{ forloop.counter }}</td>
                <td rowspan="{{ performance.exam_scores.count|default:1}}" class="align-middle">{{ performance.employee.name }}</td>
                <td rowspan="{{ performance.exam_scores.count|default:1 }}" class="align-middle">{{ performance.employee.staff_number }}</td>
                <td rowspan="{{performance.exam_scores.count|default:1}}" class="align-middle text-center">{{ performance.total_weighted_score|floatformat:2 }}</td>
                <td rowspan="{{ performance.exam_scores.count|default:1 }}" class="align-middle text-center">
                    {% if performance.average_score %}
                        {{ performance.average_score|floatformat:2 }}
                    {% else %}
                        N/A
                    {% endif %}
                </td>
                {% for exam_score in performance.exam_scores %}
                    <td>{{ exam_score.exam.exam_name }}</td>
                    <td>{{ exam_score.score|floatformat:2 }}%</td> 
                    <td>{{ exam_score.weighted_score|floatformat:2 }}</td> 
                    <td>{{ exam_score.exam_date }}</td>
                </tr>
                {% endfor %}
        {% empty %}
            <tr>
                <td colspan="7">No performance data found.</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1{% if filter_exam_count %}&exam_count={{ filter_exam_count }}{% endif %}{% if filter_year %}&year={{ filter_year }}{% endif %}{% if filter_month %}&month={{ filter_month }}{% endif %}">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}{% if filter_exam_count %}&exam_count={{ filter_exam_count }}{% endif %}{% if filter_year %}&year={{ filter_year }}{% endif %}{% if filter_month %}&month={{ filter_month }}{% endif %}">previous</a>
        {% endif %}
        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>
        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}{% if filter_exam_count %}&exam_count={{ filter_exam_count }}{% endif %}{% if filter_year %}&year={{ filter_year }}{% endif %}{% if filter_month %}&month={{ filter_month }}{% endif %}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}{% if filter_exam_count %}&exam_count={{ filter_exam_count }}{% endif %}{% if filter_year %}&year={{ filter_year }}{% endif %}{% if filter_month %}&month={{ filter_month }}{% endif %}">last &raquo;</a>
        {% endif %}
    </span>
</div>  

{% endblock %}